# NextAuth Configuration
NEXTAUTH_SECRET="your-random-secret-at-least-32-chars"

# MongoDB Connection
MONGODB_URI="mongodb+srv://..."

# Google OAuth (SSO)
# Get these from Google Cloud Console: https://console.cloud.google.com/
GOOGLE_CLIENT_ID="xxx.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="GOCSPX-xxx"

# Super Admin Email (This email will be granted immediate access and admin rights)
SUPER_ADMIN="your-email@gmail.com"
